/* 2019-10-09 - 19:13: I just listened to the professor for my anthropology class read my response essay aloud to the class as the answer key to the previous written quiz/exam. */
html, body {
    background: url('../pics/HI34/Beginning of Journey.png') center center/cover fixed no-repeat;
    color: rgba(255,255,255, 0.87);
    font-family: arial, helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    position: relative;
    top: 40%;
    background-color: #121212;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    border-top: 5px solid #afdaff;
}

div#self-por {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #afdaff;
    border: 5px solid #afdaff;
    transform: translateY(-50%);
    box-shadow: 0px 10px 10px rgba(0, 73, 131, 0.60);
}

div#self-por > img {
    object-fit: cover;
    object-position: 50% 55%;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

div#details, div#info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#details {
    margin-top: -100px;
}

div#details > h2 {
    font-size: 28px;
}

div#info {
    font-size: 16px;
}

div#info > p {
    width: 85%;
    text-indent: 5%;
}

ul#aSocBtns {
    list-style: none;
    display: flex;
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 5px solid #afdaff;
}

ul#aSocBtns > li {
    width: 100%;
}

ul#aSocBtns > li > a {
    display: block;
    text-align: center;
    padding: 10px 15px;
}

ul#aSocBtns > li > a .fa {
    color: #fff;
    font-size: 24px;
    transition: color .5s;
}

ul#aSocBtns > li > a:hover {
    background-color: #afdaff;
}

ul#aSocBtns > li:nth-child(1) > a:hover .fa {
    color: #e4405f;
}

ul#aSocBtns > li:nth-child(2) > a:hover .fa {
    color: #9147ff;
}

ul#aSocBtns > li:nth-child(3) > a:hover .fa {
	color: #ff0000;
}

ul#aSocBtns > li:nth-child(4) > a:hover .fa {
	color: rgb(0, 229, 155);
}

ul#aSocBtns > li:nth-child(5) > a:hover .fa {
	color: #004983;
}

@media (max-width: 768px) {

    html, body {
        background: none;
    }

    body:before {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url('../pics/HI34/Beginning of Journey.png') center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        will-change: transform;
    }

/*    .content {
        max-width: 80%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        border: 5px solid #afdaff;
    }
} */

@media (max-width: 375px) {
    html, body {
        font-size: 90%;
    }

    div#info {
        font-size: 95%;
    }
}
