/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #191A2F;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#wrapper > h1:first-of-type {
    color: orange;
    text-transform: uppercase;
    margin: .5em auto;
    width: 100%;
}

#sections {
    width: 100%;
    height: auto;
    padding: 0 4em;
}

/* Styling for top box */
#topSec {
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: ;
}

/* Styling for middle section */
#midSec {
    display: flex;
    flex-flow: row nowrap;
}
[id^="midInfo"] {
    max-width: 50%;
    padding: 2em 1em;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}
#midInfoLeft span {
    text-decoration: underline;
}
#midInfoLeft ul li {
    color: red;
}
#midInfoRight h4 {
    text-align: left;
}

/* Styling for bottom section */
#botSec {
    height: 30vh;
    margin-bottom: 4em;
}
#botInfo {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}
#botInfoLeft {
    max-width: 70%;
    text-align: center;
    margin: auto 0;
    flex: 1 1 auto;
}
#botInfoLeft h3 {
    font-size: 2em;
}
#botInfoLeft a {
    font-size: 1.5em;
}
#botInfoRight {
    max-width: 30%;
    height: inherit;
    flex: 1 1 auto;
}
#botInfoRight img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Style of all sections */
[id*="Sec"] {
    background-color: white;
    padding: 2em 4em;
}

[id*="Sec"]:not(:first-of-type
) {
    margin-top: 3vh;
}

.impt {
    color: red;
}

/* Media queries */

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 880px) {
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: 13px;
    }
}
@media screen and (max-width: 540px) {
    html, body {
        font-size: 12px;
    }
    #botInfo, #midSec {
        flex-flow: column nowrap;
        align-items: center;
    }
    [id^="midInfo"] {
        max-width: unset;
        width: 100%;
    }
    #botInfoLeft, #botInfoRight {
        max-width: 90%;
    }
    #botInfoRight {
        height: 25vh;
    }
    #botInfoRight img {
        
    }
    #botSec {
        height: max-content;
    }
}

@media screen and (max-width: 425px) {}

