/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

:root {
	--bgPri: #212619;
	--bgSec: #395232;
	--bgTer: #63663E;
	--bgQuat: #4F8254;
	--bgQuin: #A39E64;
	--textMain: rgba(255 255 255 / 85%);
	--textSec: rgba(255 255 255 / 65%);
	--skillText: rgb(255 255 0 / 85%);
    --knowText: rgb(255 0 255 / 85%);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Yusei Magic', sans-serif;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background: url("./pics/moreRecent/AT with Azzy the Great_20200413031258.png") center 15%/cover no-repeat;
	color: var(--textSec);
}

body:before {
    content: url("./pics/moreRecent/logo05.png");
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.15);
    background-color: #fff;
    margin: 0;
    padding: 3.5em;
    border-radius: 50%;
    border: solid 1.5em #2c2c2c;
    box-shadow: 2em 3em 5em rgb(0 0 0 / 80%);
}

h1, h2, h3, h4, h5, h6 {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	padding: .5em 0;
	flex: 1 1 auto;
	color: var(--textMain);
	min-width: fit-content;
	width: 100%;
	
}

a {
	text-decoration: none;
	color: deepskyblue;
}

a:hover {
	color: blue;
}

p {
	text-indent: 3em;
	margin: 1em 3.5em;
	text-align: justify;
}

ul {
	padding: 0 2em;
}

span.skill {
    color: var(--skillText);
}

span.know {
    color: var(--knowText);
}

.impt {
	color: var(--textMain);
}

.highlight {
	background-color: var(--textMain);
	color: black;
}

/* Social Links */

#socLinks {
    display: inline-flex;
    position: absolute;
    top: -5em;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

#socLinks li {
    list-style: none;
}

#socLinks li a {
    position: relative;
    display: block;
    width: 4em;
    height: 4em;
    text-align: center;
    margin: 0 0.5em;
    background: linear-gradient(0deg, #0d1117, #2c2c2c);
    border-radius: 50%;
    padding: .4em;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 .7em 1em rgba(0, 0, 0, 0.8);
    transition: .5s;
	color: var(--textMain);
}

#socLinks > li > a .fa {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #2c2c2c, #0d1117);
    border-radius: 50%;
    line-height: 1.6em;
    font-size: 2em;
    color: var(--mainText);
    transition: .5s;
}

#socLinks li a:hover {
    box-shadow: 0 .2em .2em rgb(0 0 0 / 30%);
}

#socLinks .fa-instagram:hover {
    color: #e4405f;
}

#socLinks .fa-twitch:hover {
    color: #9147ff;
}

#socLinks .fa-envelope:hover {
    color: #9eab80;
}

/* Page content */

#wrapper {
	width: 100%;
	position: relative;
	top: calc(100vh - 2em);
	background-color: var(--bgPri);
}

/* Navigation */

#navBar {
	width: 100%;
	background-color: var(--bgQuat);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 2em;
}
.secLinks {
	border: none;
	outline: none;
	background: transparent;
	color: var(--textMain);
	display: inline-flex;
	flex: 1 1 auto;
	justify-content: center;
	padding: .5em 0;
}
.secLinks:hover {
	background-color: var(--bgSec);
}
#navBar .active {
	background-color: var(--bgPri);
}

/* Mobile Menu */

#mobiMenu {
	background-color: rgba(0 0 0 / 75%);
	display: none;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 10;
}
#menuBtn {
	min-width: 3em;
	width: 3em;
	text-align: center;
	flex: 1 0 auto;
}
#mobiMenu a {
	padding: .5em 0;
	color: var(--textMain);
}
#mobiLinks {
	display: flex;
	flex-flow: row nowrap;
	transition: width .75s ease;
}
#mobiLinks a {
	display: inline-flex;
	flex: 1 1 auto;
	justify-content: center;
	transition: background .5s;
}
#mobiLinks a:hover {
	background-color: var(--bgSec);
}
#mobiLinks a.active {
	background-color: var(--bgQuat);
}

/* Section styling */

.section {
	width: 100%;
	height: auto;
}
.infoSec {
	margin: 2em 0;
}

/* Syllabus tab styling */
.tab {
	width: calc(90% - .2em);
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
	background-color: var(--bgQuin);
	border: .1em solid;
}

.tablinks {
	background-color: transparent;
	border: none;
	outline: none;
	padding: .5em 0;
	color: var(--textMain);
	flex: 1 1 auto;
	display: inline-flex;
	justify-content: center;
}

.tablinks:hover {
	background-color: var(--bgPri);
}

.tab .active {
	background-color: var(--textMain);
	color: black;
}

/* Table styling */

.contentTable {
	display: table;
	margin: 0 auto;
	width: 90%;
}
.conTabRow {
	display: table-row;
}
.conTabCell {
	display: table-cell;
	padding: .25em 2em;
	min-width: fit-content;
	border: .1em solid;
}
.titleCell {
	background-color: var(--bgTer);
	color: var(--textMain);
}

/* Resources section styling */

.quote {
	width: 90%;
	margin: 0 auto;
	border: .1em solid var(--textMain);
	padding: 1em 0;
	background-color: var(--bgQuat);
}

.quote span {
	display: block;
	text-align: right;
	margin-right: 4em;
	color: var(--textMain);
	font-weight: bold;
}

.resourceLinks {
	width: 90%;
	margin: 0 auto;
}

/* Video styling */

#videoBox {
	width: 100%;
}
#videoBox iframe {
	width: calc(2 * 16em);
	height: calc(2 * 9em);
	display: block;
	margin: 1.5em auto;
}

/* Footer styling */

#footer {
	height: 6em;
	width: 100vw;
	background-color: var(--bgQuin);
	margin-top: 4em;
}
#footerLinks {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
}
#footerLinks a {
	color: var(--textMain);
	display: inline-flex;
}
#footerLinks a:hover {
	color: var(--bgTer);
}

@media screen and (max-width: 880px) {
	#mobiMenu {
		display: flex;
	}
	#navBar {
		display: none;
	}
	#wrapper {
		top: 100vh;
	}
}

@media screen and (max-width: 450px) {
	html, body {
		font-size: 14px;
	}
}
@media screen and (max-width: 325px) {
	html, body {
		font-size: 12px;
	}
}