/* Class page redesign style */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
:root {
	--bgPri: #212619;
	--bgSec: #395232;
	--bgTer: #63663E;
	--bgQuat: #4F8254;
	--bgQuin: #A39E64;
	--bgSep: #241926;
	--textMain: rgba(255 255 255 / 85%);
	--textSec: rgba(255 255 255 / 65%);
	--skillText: rgb(255 255 0 / 85%);
    --knowText: rgb(255 0 255 / 85%);
}
* {
	font-family: "Yusei Magic", sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	color: var(--textSec);
}
body {
	background-color: var(--bgPri);
}
a {
	text-decoration: none;
	color: deepskyblue;
}

a:not(.navigation a):hover {
	color: blue;
}

p {
	text-indent: 3em;
	margin: 1em 2em;
	text-align: justify;
}

ul, ol {
	padding: 0 2em;
}

span.skill {
    color: var(--skillText);
}

span.spoil {
	background-color: white;
	color: white;
}

span.know {
    color: var(--knowText);
}

.impt {
	color: var(--textMain);
}

.highlight {
	background-color: var(--textMain);
	color: var(--bgPri);
}

.currentWk {
	background-color: var(--bgQuat);
}

h1, h2, h3, h4, h5, h6 {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	padding: .5em 0;
	flex: 1 1 auto;
	color: var(--textMain);
	min-width: fit-content;
	width: 100%;
	
}
#wrapper {
	width: 100vw;
	height: 90vh;
	position: relative;
	overflow-x: hidden;
	top: 0;
}
/* Navigation */
.navigation {
	position: fixed;
	top: 0;
	background-color: var(--bgQuat);
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	z-index: 1000;
	height: 10%;
	border-bottom: .1em solid;
}
.navigation a {
	padding: .5em 0;
	display: flex;
	flex-flow: row nowrap;
	min-width: fit-content;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	color: var(--textSec);
}
.navigation a:hover {
	background-color: var(--bgSec);
}
.navigation a.active {
	color: var(--textMain);
}
/* Section styling */
.section {
	width: 100%;
	height: auto;
}
.infoSec {
	margin: 2em 0;
}
/* Syllabus tab styling */
.tab {
	width: calc(90% - .2em);
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
	background-color: var(--bgQuin);
	border: .1em solid;
}

.tablinks {
	background-color: transparent;
	border: none;
	outline: none;
	padding: .5em 0;
	color: var(--textMain);
	flex: 1 1 auto;
	display: inline-flex;
	justify-content: center;
}

.tablinks:hover {
	background-color: var(--bgPri);
}

.tab .active {
	background-color: var(--textMain);
	color: black;
}

/* Accordion styling */

div.accContainer {
	width: 90%;
	margin: 0 auto;
}
button.accordion {
    border: none;
    padding: .25em .5em;
    width: 100%;
	background-color: var(--bgQuin);
	color: var(--textMain);
}
button.accordion:hover {
	background-color: var(--bgPri);
}
button.currentWk {
	background-color: var(--bgQuat);
}
div.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border: 1px var(--textMain) solid;
}

#sbProHead {
	background-color: var(--bgTer);
	width: 90%;
	margin: 1em auto 0;
}

/* Table styling */

.contentTable {
	display: table;
	margin: 0 auto;
	width: 90%;
}
.panel .contentTable {
	width: 100%;
}
.conTabRow {
	display: table-row;
}
.conTabCell {
	display: table-cell;
	padding: .25em 2em;
	min-width: fit-content;
	border: .1em solid;
}
.titleCell {
	background-color: var(--bgTer);
	color: var(--textMain);
	text-align: center;
}
div.allClass {
	background-color: var(--bgQuat);
}

/* Resources section styling */

.quote {
	width: 90%;
	margin: 0 auto;
	border: .1em solid var(--textMain);
	padding: 1em 0;
	background-color: var(--bgQuat);
}

.stanQuote {
	width: 90%;
	margin: 0 auto;
	border: .1em solid var(--textMain);
	padding: 1em 0;
	background-color: var(--bgSep);
}

span.qAuthor {
	display: block;
	text-align: right;
	margin-right: 4em;
	color: var(--textMain);
	font-weight: bold;
}

.resourceLinks {
	width: 90%;
	margin: 0 auto;
}

/* Video styling */

#videoBox {
	width: 100%;
}
#videoBox iframe {
	width: calc(2 * 16em);
	height: calc(2 * 9em);
	display: block;
	margin: 1.5em auto;
}
@media (max-width: 768px){
	.navigation {
		top: unset;
		bottom: 0;
		border-bottom: unset;
		border-top: .1em solid;
	}
	.navigation a {
		flex-flow: column nowrap;
	}
	.navigation a > span[class*="fa-"] {
		font-size: 1.5em;
	}
	.navigation a > span:nth-of-type(2) {
		font-size: .75em
	}
}
