/* Pitch why it is necessary for others to consult with myself.
   Work on my ability to go get clients. 
   3 1/2 weeks to work on this and presentation. */
   
/* This is only for the landing page, and shall be renamed, as such. */

html, body {
    margin: 0;
    padding: 0;
    background: url('./pics/Dock Scene.png') center center/cover fixed no-repeat;
}
a#port:before {
    content: '';
    width: 120%;
    height: 120%;
    background: linear-gradient(0deg, #004983, #afdaff);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    transition: .5s;
}

a#port:hover:before {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

a#port {
    background: linear-gradient(180deg, #004983, #afdaff);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: calc(90px * -.5);
    width: 90px;
    height: 90px;
    text-align: center;
}

a#port > img {
    height: auto;
    width: 60px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

a#port:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    opacity: 0;
    transition: .5s;
}

a#port:hover:after {
    opacity: .3;
}

/* Social media buttons */

ul#soc-btns {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul#soc-btns > li {
    list-style: none;
}

ul#soc-btns > li > a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 10px;
    background: linear-gradient(0deg, #004983, #afdaff);
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    transition: .5s;
}

ul#soc-btns > li > a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

ul#soc-btns > li > a .fa {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #afdaff, #004983);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #fff;
    transition: .5s;
}

ul#soc-btns > li:nth-child(1) > a:hover .fa {
    color: #e4405f;
}

ul#soc-btns > li:nth-child(2) > a:hover .fa {
    color: #9147ff;
}

ul#soc-btns > li:nth-child(3) > a:hover .fa {
	color: #ff0000;
}